.m-0 {
  margin: 0;
}

.mx-1 {
  margin-left: calc(env(safe-area-inset-left) + 1rem);
  margin-right: calc(env(safe-area-inset-right) + 1rem);
}

.font-light {
  font-weight: 200;
}

@media screen and (min-width: 576px) {
  .ml-sm-1 {
    margin-left: calc(env(safe-area-inset-left) + 1rem);
  }
}
